.container {
    display: flex;
    gap: 1rem;
    background-color: gold;
    flex-direction: row;
    text-align: center;
}

.container > *{
    flex-basis: 200px;
}


p {
    padding: 0;
    margin: 0;
    font-weight: 700;
}

li {
    list-style: none;
}